includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
    level: 5
    paths:
        - app/
        - tests/
